particle-size-analyzer-frontend/logs
particle-size-analyzer-frontend/*.log
particle-size-analyzer-frontend/npm-debug.log*
particle-size-analyzer-frontend/yarn-debug.log*
particle-size-analyzer-frontend/yarn-error.log*
particle-size-analyzer-frontend/pnpm-debug.log*
particle-size-analyzer-frontend/lerna-debug.log*
particle-size-analyzer-frontend/node_modules
particle-size-analyzer-frontend/dist
particle-size-analyzer-frontend/dist-ssr
particle-size-analyzer-frontend/*.local
particle-size-analyzer-frontend/.vscode/*
particle-size-analyzer-frontend/!.vscode/extensions.json
particle-size-analyzer-frontend/.idea
particle-size-analyzer-frontend/.DS_Store
particle-size-analyzer-frontend/*.suo
particle-size-analyzer-frontend/*.ntvs*
particle-size-analyzer-frontend/*.njsproj
particle-size-analyzer-frontend/*.sln
particle-size-analyzer-frontend/*.sw?
particle-size-analyzer-backend/psa_backend/
particle-size-analyzer-backend/__pycache__/